<section style="background-color: black; position: absolute; bottom: 0px; width: 100%;">
    <ul>hello</ul>
    <ul>hello</ul>
    <ul>hello</ul>
    <ul>hello</ul>
    <ul>hello</ul>

</section>
</body>
</html>